*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.topbarMenu {
  font-size: 15px;
  height: 50px;
  margin-top: 15px;

  #logo {
    font-family: 'Abhaya Libre', serif;
    font-size: 35px;
    float: left;
    color: #F56400;
    margin-left: 29px;
    margin-top: -4px;
  }
  .searchBox {
    display: inline-block;
    margin-left: 18px;
    margin-top: 5px;
    margin-right: 0px;
    width: 200px;
  }
  button {
    margin: 0px;
    background-color: #34A8C4;
    color: white;
    border: 1px solid #2F98B1;
  }
  .topbarOption {
    float: right;
  }
}

.categoryMenu {
  font-size: 15px;
  color: grey;
  height: 35px;
  background-color: lightyellow;
}

.results {
  padding-top: 23px;
  background-color: #F5F5F1;
  overflow: auto;

nav {
    float:left;
    width: 17%;
  }
  .navHeader {
    font-size: 15px;
  }
  #navTitle {
    font-size: 13px;
  }
  .navSearch {
    background-color: white;
    font-size: 13px;
  }
  .navList {
    list-style: none;
  }
}

.container{
  margin-left: 18%;


  .containerHeader {
    display: inline;
    position: relative;

  }
  .containerSort {
    float:right;
  }
  .items {
     padding: 30px;

     .link {
       text-decoration: none;
     }

    .item {
      width: 170px;
      margin: 5px;
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border: 1px solid lightgrey;

      .picture {
        width: 168px;
        height: 168px;
        margin-right: 15px;
      }
      .title {
        font-size: 10px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .shop {
        color: #9C9C9C;
        font-size: 10px;
        display: inline;
        margin-top: -2px;
      }
      .price {
        color: #78C042;
        font-size: 10px;
        float: right;
        margin-top: 5px;

      }
    }
  }
}

.navPages {
  clear: left;
}
