$fontColor: #0292B5;
$borderLine: #E1E3DF;

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.topbarMenu {
  font-size: 15px;
  height: 50px;
  margin-top: 15px;

  #logo {
    font-family: 'Abhaya Libre', serif;
    font-size: 35px;
    float: left;
    color: #F56400;
    margin-left: 29px;
    margin-top: -4px;
  }
  .searchBox {
    display: inline-block;
    margin-left: 18px;
    margin-top: 5px;
    margin-right: -5px;
    width: 313px;
    height: 26px;
    border: 1px solid #ACA9A6;
    background-color: #FBFBFA;
  }
  .searchName {
    background-color: #34A8C4;
    color: white;
    border: 2px solid #2F98B1;
    font-size: 12px;
    padding: 6px;
    width: 64px;
    height: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .topbarOption {
    float: right;
    margin-top: -23px;
    color: #0292B5;
    font-size: 12px;
    list-style: none;

    .topMenu {
      padding-left: 12px;
      display:inline-block;
      }
    #signIn {
      padding: 6px;
      background-color: white;
      border-color: #0292B5;
      border-width: thin;
      border-radius: 3px;
      color: $fontColor;
      display:inline-block;
      margin: 13px;
      margin-left: 10px
    }
    .topbarList {
      display:inline-block;
      padding-right: 33px;
    }
    ul {
      list-style: none;
      border-left: thin solid #EEEEEE;
      padding-left: 9px;
    }
      ul img {
        width: 18px;
        color: #666666;
      }
      #cart {
        color: #888888;
        font-size: 11px;
        padding: 2px;
      }
    }
}

.categoryMenu {
  color: #777777;
  height: 35px;
  font-size: 12px;
  padding-top:12px;
  padding-left: 20px;
  border-top: 1px solid $borderLine;
  border-bottom: 1px solid $borderLine;

  .categoryItem {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 2px;
    letter-spacing: .5px;
  }
}

.results {
  padding-top: 23px;
  background-color: #F5F5F1;
  overflow: auto;

  nav {
    float:left;
    width: 19%;
  }
  .navHeader {
    font-size: 12px;
    padding-left: 28px;
  }
  #navTitle {
    font-size: 12px;
    padding: 0px 0px 0px 8px;
    margin-top: 9px;
  }
  .navSearch {
    background-color: white;
    font-size: 11px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 3px;
    border:1px solid $borderLine;
  }
  .navList {
    padding-left: 18px;
    padding-bottom: 2px;
    list-style: none;
    li a {
      color: $fontColor;
    }
    li {
      margin-top: 7px;
    }
  }
}

.container{
  margin-left: 18%;

  .containerHeader {
    display: inline;
    font-size: 12px;
    position: relative;
    padding-left: 20px;
      #all {
        color: $fontColor;
      }
      #wordSearched {
        color: #444444;
        font-weight: bolder;
      }
      .resultCount {
        color: #444444;
      }
  }

  .containerSort {
    float:right;
    padding-right: 33px;

      #sortBy {
        font-size: 12px;
        color: #444444;
      }
      #relevent {
        font-size: 12px;
        color: $fontColor;
      }
  }

  .items {
     padding: 30px;

     .link {
       text-decoration: none;
     }

    .item {
      width: 170px;
      margin: 5px;
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border: 1px solid lightgrey;

      .picture {
        width: 168px;
        height: 168px;
        margin-right: 15px;
      }
      .title {
        font-size: 10px;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .shop {
        color: #9C9C9C;
        font-size: 10px;
        display: inline;
        margin-top: -2px;
      }
      .price {
        color: #78C042;
        font-size: 10px;
        float: right;
        margin-top: 5px;

      }
    }
  }
}

.navPages {
  clear: left;
}
